<html>
<head>
   <title>Recommender system App</title>
   <style>
      body {
         margin-top: 100px;
         margin-bottom: 100px;
         margin-right: 100px;
         margin-left: 200px;  
         font-family: cursive;
         max-width: 11000px;
      }
      form{
        padding-left: 50;
      }
     button:hover {
      background-color: #f3bcb6fa; 
      color: white;
}
     div{
      font-family: cursive;
     }
   
   </style>
</head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<body >
<!-- Navbar -->
<div style= "margin: 0%; padding: 0%; background-color: #c4bfbf;" class="w3-bar  w3-button w3-padding-16 ">
   <a href="#" class="w3-bar-item w3-button">Home</a>
   <a href="#" class="w3-bar-item w3-button">About Us</a>
   
 </div>
 <div class='w3-panel w3-padding-16' style=" margin: 0; padding: 0; background-color:#f3bcb6fa ;">
  <br/><br/> <h1 style="color: white; text-align: center; font-family: cursive;"> Recommender system App </h1> <br/> <br/> 
</div>
     <br/><br/> <br/>

   <div class="w3-container">
      <div class="w3-panel w3-bottombar w3-border-white ">
      <h2 style="font-size: x-large; text-align: center; font-family: cursive;">Choose Brand Name </h2>
      </div>
      <form action = "http://127.0.0.1:5000/" method = "post">
         <p style="margin-left: 110;" >
            <button class="w3-btn w3-ripple " name="nm" style="width:150; height:130; border-color: black; border-style: solid;font-family: cursive;" value="runail" >runail</button>
            <button class="w3-btn w3-ripple " name="nm" style="width:150; height:130; border-color: black; border-style: solid;" value="yoko">yoko</button>
            <button class="w3-btn w3-ripple " name="nm" style="width:150; height:130; border-color: black; border-style: solid;" value="zinger">zinger</button>
            <button class="w3-btn w3-ripple " name="nm" style="width:150; height:130; border-color: black; border-style: solid;" value="entity">entity</button>
            <button class="w3-btn w3-ripple " name="nm" style="width:150; height:130; border-color: black; border-style: solid;" value="missha" >missha</button>
            <button class="w3-btn w3-ripple " name="nm" style="width:150; height:130; border-color: black; border-style: solid;" value="beautix" >beautix</button>
         </p>
         <p  style="margin-left: 110;">
            <button class="w3-btn w3-ripple " name="nm" style="width:150; height:130;  border-color: black; border-style: solid;" value="uno" >uno</button>
            <button class="w3-btn w3-ripple " name="nm" style="width:150; height:130;  border-color: black; border-style: solid;" value="mayamy">mayamy</button>
            <button class="w3-btn w3-ripple " name="nm" style="width:150; height:130;  border-color: black; border-style: solid;" value="domix" >domix</button>
            <button class="w3-btn w3-ripple " name="nm" style="width:150; height:130;  border-color: black; border-style: solid;" value="masura" >masura</button>  
            <button class="w3-btn w3-ripple " name="nm" style="width:150; height:130;  border-color: black; border-style: solid;" value="grattol" >grattol</button> 
            <button class="w3-btn w3-ripple " name="nm" style="width:150; height:130;  border-color: black; border-style: solid;" value="strong" >strong</button>
         </p>
         <p style="margin-left: 110;" >
            <button class="w3-btn w3-ripple " name="nm" style="width:150; height:130;  border-color: black; border-style: solid;" value="skinlite" >skinlite</button>
            <button class="w3-btn w3-ripple " name="nm" style="width:150; height:130;  border-color: black; border-style: solid;" value="nagaraku">nagaraku</button>
            <button class="w3-btn w3-ripple " name="nm" style="width:150; height:130;  border-color: black; border-style: solid;" value="italwax" >italwax</button>
            <button class="w3-btn w3-ripple " name="nm" style="width:150; height:130;  border-color: black; border-style: solid;" value="max" >max</button>
            <button class="w3-btn w3-ripple " name="nm" style="width:150; height:130;  border-color: black; border-style: solid;" value="bluesky" >bluesky</button>
            <button class="w3-btn w3-ripple " name="nm" style="width:150; height:130;  border-color: black; border-style: solid;" value="pole" >pole</button>
         </p>
         
         </div>
      </form>
   </div>
   
    <!-- ________________________Team Container________________________ -->
   </div>
   <br/><br/><br/>
   </div>
   <div class="w3-container w3-light-gray", style=" margin: 0; padding: 0;">
    <br/> <br/> 
   <p style="text-align: center;  color: black;"><strong>Copy Right 2021 By Data Armors Team</strong>  </p><br/> <br/> 
    </div>
   </body>
</html>





