<html>
<head>
   <title>Recommender system App</title>
   <style>
      body {
         
         margin-top: 100px;
         margin-bottom: 100px;
         margin-right: 100px;
         margin-left: 200px;  
         font-family: cursive;
         max-width: 11000px;
      }
      form{
        padding-left: 50;
      }
      .background1{
       background-color:#f3bcb6fa ;
      }
    
   </style>
</head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<body >
<!-- Navbar -->
<div style= "margin: 0%; padding: 0%; background-color: #c4bfbf;" class="w3-bar  w3-button w3-padding-16 ">
   <a href="#" class="w3-bar-item w3-button">Home</a>
   <a href="#" class="w3-bar-item w3-button">About Us</a>
   
 </div>
 <div class='w3-panel w3-padding-16' style=" margin: 0; padding: 0; background-color:#f3bcb6fa ;">
  <br/><br/> <h1 style="color: white; text-align: center; font-family: cursive;">Recommender system App </h1> <br/> <br/> 
</div>
     <br/><br/> <br/>

   <div class="w3-container">
      <div class="w3-panel w3-bottombar w3-border-white ">
    <div class="hero-image">
        <div class="hero-text">
            <h2 style="color:rgb(27, 26, 26); text-align: center; font-size:20px;">We recommend to you product number: {{ p_id }}</h2>
            <h2 style="color:black; text-align: center; font-size:20px;">The price will be: {{ price }}</h2>
            <h2 style="color:black; text-align: center; font-size:20px;">From: {{ brand }}</h2>
            
            <h1 style="color:black; text-align: center; font-size:20px;">By: Data Armors </h1>
            


        </div>
    </div>
    <br/><br/><br/>
   </div>
   <div class="w3-container w3-light-gray">
   <p style="text-align: center;  color: black;"><strong>Copy Right 2021 By Data Armors Team</strong>  </p>
    </div>
</body>